/* main ######################################################################*/
body {
    background-color: #9cc3ec2b;
}
.main {
    margin-top: 50px;
}
a {
    color:inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
/* navbar ####################################################################*/
#navBarContainer {
    width: 100%;
    height: 49px;
    background-color: #9cc3ec;
    position: fixed;
    top: 0;
    z-index: 1300;
}
#navBar {
    height: 100%;
    margin: 0px;
}
.navItem {
    text-align: center;
    line-height: 49px;
    padding: 0px;
}
.navItem > a {
    display: block;
    color: #33383ecf;
}
.navItem > a:hover {
    background-color: #00fff59c;
    color: #33383ecf;
}
.active {
    background-color: #da00ff47;
}
/* invoice form###############################################################*/
form {
    border-radius: 13px;
    background-color: #b9e7ef85;
    padding: 7px;
}
label {
    margin-left: 20px;
}
form .row {
    margin-top: 13px;
}
button {
    border-radius: 7px;
}
button:focus {
    outline: none;
}
button[type="submit"] {
    background-color: #32ec32c9;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 13px;
    padding-bottom: 4px;
}
select:focus {
    outline: none;
}
#formInsertHere {
    margin-top: 23px;
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding-left: 13px;
    background-color: transparent;
    transition: border-bottom 0.3s;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 3px solid #0049ff85;
}
.formFieldGroup:focus-within:not(.select) {
    transition: font-size 0.3s;
    font-size: 20px;
}
.errorDiv > ul {
    list-style: none;
    background-color: #ffa500b8;
    border-radius: 13px;
}
/*
Partner part
*/
#partnerFormContainer {
    background-color: #0000ff2e;
    border-radius: 13px;
    padding: 7px;
}
#searchList {
    max-height: 300px;
    overflow-y: auto;
}
#searchList > p {
    margin-bottom: 0px;
    padding: 4px;
}
/*
Article part
*/
#articleFormsContainer > div:nth-child(1){
    margin-bottom: -34px;
}
button.removeArticle {
    background-color: #ed1462b5;
}
#addArticleForm {
    background-color: #ffff0094;
}
.hide {
    display: none;
}
.articleForm {
    margin-top: 27px;
    padding: 7px;
    border-radius: 13px;
    background-color: #ffc0cb82;
}
/*
Invoice part
*/
#invoiceFormContainer {
    margin-bottom: 21px;
}
/* Invoice table view ########################################################*/
table {
    width: 100%;
}
table a {
    display: block;
    color: black;
    padding: 5px 10px 5px 10px;
}
table a:hover {
    background-color: #ffa5009c;
    border-radius: 13px;
}
td {
    overflow: hidden;
}
th {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}
thead tr {
    background-color:#efc8c8;
}
thead tr:nth-child(even) {
    background-color:#0000ff45;
}
tbody tr:nth-child(2n){
    background-color:#8080803d;
}
tbody tr:nth-child(2n-1){
    background-color:#0000ff14;
}
.checkPayment {
    width: 30px;
    height: 30px;
    border-radius: 60px;
}
.yes {
    background-color: #83f33f;
}
.no {
    background-color: #ff0000b0;
}
#addOneMore {
    background-color: pink;
    border-radius: 60px;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50vh;
    right: -60px;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    transition: right .5s;
}
#addOneMore:hover {
    right: -7px;
}
#addOneMore > a {
    display: block;
}
/* Partners table view #######################################################*/
#partnersTable tbody tr:hover {
    background-color: #ffa5009c;
    border-radius: 13px;
    cursor: pointer;
}
/* ###########################################################################*/
