{% extends 'base.html' %}
{% block content %}
<table id="partnersTable">
    <thead>
    <tr class="row">
        <th class="col-sm-3">nazwa firmy</th>
        <th class="col-sm-3">adres</th>
        <th class="col-sm-3">telefon</th>
        <th class="col-sm-3">NIP</th>
    </tr>
    </thead>
    <tbody>
    {% for partner in all_partners %}
    <tr class="row" data-id="{{ partner.id }}">
            <td class="col-sm-3">{{ partner.company_name }}</td>
            <td class="col-sm-3">{{ partner.address }}</td>
            <td class="col-sm-3">{{ partner.phone }}</td>
            <td class="col-sm-3">{{ partner.nip }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div id="addOneMore">
    <a href="{% url 'partners-app:add-url' %}">+</a>
</div>
{% endblock %}